<hlm-tabs tab="myRequests" class="w-full h-full">
    <hlm-tabs-list class="grid w-full grid-cols-2" aria-label="tabs example">
        <button hlmTabsTrigger="myRequests">Minhas Solicitações</button>
        <button hlmTabsTrigger="requests">Para meus pets</button>
    </hlm-tabs-list>
    <div hlmTabsContent="myRequests">
        <div class="flex justify-center items-center h-full text-center text-sm">
            <p class="opacity-60">Solicitações enviadas por você serão exibidas aqui.</p>
        </div>
    </div>
    <div hlmTabsContent="requests">
        <div class="flex justify-center items-center h-full text-center text-sm">
            <p class="opacity-60">Solicitações para seus pets serão exibidas aqui.</p>
        </div>
    </div>
</hlm-tabs>