<div class="fixed bottom-0 w-full h-16 bg-white border-t md:hidden">
    <div class="flex justify-around items-center h-full">
        <spartan-button-icon [variant]="'ghost'" [iconName]="'lucideHouse'" [iconSize]="'lg'" [isActive]="true"></spartan-button-icon>
        <spartan-button-icon [variant]="'ghost'" [iconName]="'lucideDog'" [iconSize]="'lg'" ></spartan-button-icon>
        <spartan-button-icon [variant]="'ghost'" [iconName]="'lucideCircleUserRound'" [iconSize]="'lg'" ></spartan-button-icon>
    </div>
</div>
