<div class="fixed bottom-0 w-full h-16 border-t md:hidden">
    <div class="flex justify-around items-center h-full">
        <!-- 🗺️ Mapa -->
        <button hlmBtn class="flex items-center justify-center" variant="ghost" size="sm"
            [ngClass]="{ 'text-[#159A9C]': isActive('/map'), 'text-muted-foreground': !isActive('/map') }"
            (click)="navigateTo('/map')">
            <ng-icon hlm size="lg" class="mr-2" name="lucideMap"
                [ngClass]="{ 'stroke-[#159A9C]': isActive('/map'), 'stroke-muted-foreground': !isActive('/map') }" />
        </button>

        <!-- 🐾 Meus Pets -->
        <button hlmBtn class="flex items-center justify-center" variant="ghost" size="sm"
            [ngClass]="{ 'text-[#159A9C]': isActive('/pets'), 'text-muted-foreground': !isActive('/pets') }"
            (click)="navigateTo('/pets')">
            <ng-icon hlm size="lg" class="mr-2" name="lucidePawPrint"
                [ngClass]="{ 'stroke-[#159A9C]': isActive('/pets'), 'stroke-muted-foreground': !isActive('/pets') }" />
        </button>

        <!-- 🔔 Notificações -->
        <button hlmBtn class="flex items-center justify-center" variant="ghost" size="sm"
            [ngClass]="{ 'text-[#159A9C]': isActive('/notifications'), 'text-muted-foreground': !isActive('/notifications') }"
            (click)="navigateTo('/notifications')">
            <ng-icon hlm size="lg" class="mr-2" name="lucideBell"
                [ngClass]="{ 'stroke-[#159A9C]': isActive('/notifications'), 'stroke-muted-foreground': !isActive('/notifications') }" />
        </button>

        <!-- 😁 Perfil -->
        <button hlmBtn class="flex items-center justify-center" variant="ghost" size="sm"
            [ngClass]="{ 'text-[#159A9C]': isActive('/config'), 'text-muted-foreground': !isActive('/config') }"
            (click)="navigateTo('/config')">
            <ng-container *ngIf="userLogged as user; else login">
                <img [src]="user?.photoURL || '' + (user.displayName || 'User')" alt="Foto de perfil"
                    class="w-10 h-10 rounded-full"
                    [ngClass]="{ 'border-4 border-solid border-[#159A9C]': isActive('/config'), 'stroke-muted-foreground': !isActive('/config') }" />
            </ng-container>

            <ng-template #login>
                <ng-icon hlm size="lg" class="mr-2" name="lucideCircleUserRound"
                    [ngClass]="{ 'stroke-[#159A9C]': isActive('/config'), 'stroke-muted-foreground': !isActive('/config') }" />
            </ng-template>
        </button>
    </div>
</div>