<div class="w-full flex justify-between items-center p-4 sm:gap-0 gap-2" id="header">
    <div class="flex w-full md:w-[500px] bg-white gap-2 items-center">
        <div class="flex items-center gap-2">
            <button hlmBtn variant="ghost" size="sm" class="gap-2 p-2" (click)="goBack()">
                <spartan-icon iconName="lucideArrowLeft" iconSize="base"
                    class="text-gray-600 flex justify-center items-center"></spartan-icon>
                <span>{{ pageName }}</span>
            </button>
        </div>
    </div>
</div>
