<div id="floating">
    <div class="flex flex-col justify-around items-center bg-transparent rounded-xl">
        <spartan-button-icon [size]="'icon'" [class]="'mb-2 shadow'" [variant]="'secondary'"
            [iconName]="'lucideLocateFixed'" [iconSize]="'lg'" (click)="recenter()"></spartan-button-icon>

        <hlm-dialog>
            <spartan-button-icon [size]="'icon'" [variant]="'secondary'" [iconName]="'lucideCamera'" [iconSize]="'lg'"
                brnDialogTrigger (click)="handleDialogClick()"></spartan-button-icon>
            <hlm-dialog-content *brnDialogContent="let ctx" class="w-auto" BrnDialogState="onDialogOpened()">
                <ng-container *ngIf="usuarioAutenticado; else naoLogado">
                    <hlm-dialog-header>
                        <h3 brnDialogTitle hlm class="font-bold">Registrar Pet</h3>
                    </hlm-dialog-header>
                    <div
                        class="w-full sm:w-[600px] h-screen sm:h-[400px] flex flex-col sm:flex-row justify-start items-center">
                        <div class="w-full sm:w-3/6 h-96 sm:h-full mr-2">
                            <label hlmLabel>
                                Nome
                                <input class="w-full" hlmInput type="text" placeholder="Nome" [(ngModel)]="apelido" />
                            </label>

                            <label hlmLabel>
                                Descrição
                                <textarea hlmInput placeholder="" class="min-h-[80px] w-full"
                                    [(ngModel)]="descricao"></textarea>
                            </label>

                            <label hlmLabel>
                                Localização
                                <input class="w-full" hlmInput type="text" placeholder="Localização" #locationInput
                                    (blur)="searchLocation(locationInput.value)" [(ngModel)]="localizacaoTexto" />
                            </label>

                            <label hlmLabel>
                                Foto
                                <input class="w-full" hlmInput type="file" (change)="onFileSelected($event)" />
                            </label>

                            <div class="flex items-center mt-2">
                                <hlm-switch class="mr-2" (checkedChange)="onToggleColeira($event)" />
                                <label hlmLabel>
                                    Possui coleira?
                                </label>
                            </div>

                            <div class="flex items-center mt-2">
                                <hlm-switch class="mr-2" (checkedChange)="onToggleIsMissing($event)" />
                                <label hlmLabel>
                                    Animal perdido
                                </label>
                            </div>
                        </div>
                        <div class="w-full sm:w-5/6 sm:h-full h-36 rounded-sm pt-4">
                            <div id="map-dialog" class="w-full h-full rounded border"></div>
                        </div>
                    </div>
                    <hlm-dialog-footer
                        class="sticky bottom-0 left-0 w-full flex justify-end gap-2  bg-white p-2 sm:static">
                        <button hlmBtn class="w-full sm:w-auto bg-[#159A9C]" (click)="onSubmitPet()">Salvar</button>
                    </hlm-dialog-footer>
                </ng-container>

                <ng-template #naoLogado>
                    <div class="p-4 flex flex-col items-center justify-center">
                        <p>Você precisa entrar na sua conta para registrar um pet.</p>
                        <p>
                            <span class="decoration-[#159A9C] underline text-[#159A9C] cursor-pointer"
                                (click)="goToLogin()">Entre</span>
                            ou
                            <span class="decoration-[#159A9C] underline text-[#159A9C] cursor-pointer"
                                (click)="goToRegister()">crie uma conta</span>
                            para continuar.
                        </p>
                    </div>
                </ng-template>
            </hlm-dialog-content>
        </hlm-dialog>
    </div>
</div>