<div class="w-full flex justify-between items-center p-4 sm:gap-0 gap-2" id="header">
    <div class="flex items-center gap-4">
        <app-sidebar></app-sidebar>
    </div>

    <div class="flex w-full md:w-[500px] bg-white gap-2 items-center rounded-md border">
        <input [(ngModel)]="searchQuery" class="w-full bg-transparent border-none" hlmInput
            placeholder="Pesquisar local..." />
        <spartan-button-icon [iconName]="'lucideSearch'" class="hidden md:block" [variant]="'ghost'"
            (click)="onSearch()"></spartan-button-icon>
    </div>

    <app-user-menu [userLogged]="userLogged"></app-user-menu>
</div>