<div class="w-full flex justify-between items-center p-4" id="header">
    <!-- Botão de menu: visível apenas em telas médias para cima -->
    <spartan-button-icon 
        [iconName]="'lucideMenu'" 
        class="hidden md:block">
    </spartan-button-icon>

    <!-- Input de pesquisa: ocupa a largura total em mobile -->
    <input class="w-full md:w-[500px] bg-white" hlmInput placeholder='Pesquisar...' />

    <!-- Botão "Entrar": visível apenas em telas médias para cima -->
    <div class="hidden md:flex items-center gap-4">
        <spartan-button text="Entrar"></spartan-button>
    </div>
</div>
