<div class="hidden md:flex items-center gap-2">
  <ng-container *ngIf="userLogged as user; else login">
    <div class="flex justify-center items-center">
      <div class="w-2 h-2 rounded-full bg-[#159A9C] absolute ml-3 mb-3" *ngIf="unredMessagesCount > 0"></div>
      <spartan-button-icon [iconName]="'lucideMail'" (click)="goToMessages()"></spartan-button-icon>
    </div>

    <app-notifications></app-notifications>

    <div class="flex items-center gap-2">
      <img [src]="user?.photoURL || '' + (user.displayName || 'User')" alt="Foto de perfil"
        class="w-10 h-10 rounded-full" [brnMenuTriggerFor]="menu" />
    </div>

    <ng-template #menu>
      <hlm-menu>
        <hlm-menu-group>
          <button hlmMenuItem>Perfil</button>
          <button hlmMenuItem>Meus pets</button>
          <button hlmMenuItem>Configurações</button>
          <hlm-menu-separator />
        </hlm-menu-group>
        <hlm-menu-group>
          <button hlmMenuItem (click)="logout()">Sair</button>
        </hlm-menu-group>
      </hlm-menu>
    </ng-template>
  </ng-container>

  <ng-template #login>
    <button hlmBtn class="border px-4 py-1 rounded" (click)="goToLogin()" class="bg-[#159A9C]">Entrar</button>
  </ng-template>
</div>