<div class="w-full h-20 border-b flex items-center px-4 fixed bg-white" style="z-index: 9999;">
    <app-mapets-icon />

    <div class="w-full flex justify-between items-center ml-6">
        <div class="flex items-center space-x-2">
            <div class="text-xs opacity-60 hover:underline cursor-pointer">
                Ver o mapa
            </div>

            <div class="text-xs opacity-60 hover:underline cursor-pointer">
                Sobre o Mapets
            </div>

            
        </div>

        <div class="flex items-center space-x-2">
            <button class="bg-[#159A9C] text-white px-4 py-2 rounded hover:bg-[#0F9597]" (click)="goToLogin()">
                Entrar
            </button>

            <button class="bg-[#159A9C] text-white px-4 py-2 rounded hover:bg-[#0F9597]" (click)="goToRegister()">
                Registrar
            </button>
        </div>
    </div>
</div>

<div class="flex flex-col h-full p-20">

    <div class="flex-grow flex items-center justify-start p-20 text-center space-y-6 border-b">

        <div class="flex flex-col items-start space-y-6 max-w-2xl">
            <h1 class="text-4xl font-bold text-start font-poppins">
                <span class="text-[#159A9C]">Encontre</span> e <span class="text-[#159A9C]">ajude</span> animais de rua
                perto de você
            </h1>

            <p class="text-lg max-w-xl text-justify font-poppins">
                O Mapets é uma plataforma colaborativa que conecta pessoas dispostas a ajudar animais de rua com aqueles
                que precisam de cuidados. Junte-se a nós para fazer a diferença!
            </p>

            <button class="bg-[#159A9C] text-white px-6 py-3 rounded hover:bg-[#0F9597]">
                Comece agora
            </button>
        </div>

        <div flex class="flex-grow flex justify-center items-end h-full">
            <img src="../../assets/images/dogs.svg" alt="by Freepik" class="" />
        </div>
    </div>

    <div class="flex-grow flex items-center justify-start p-20 text-center space-y-6 border-b gap-20">

        <div class="w-1/2 h-96 border rounded overflow-hidden">
            <app-map-view />
        </div>

        <div class="flex flex-col items-start space-y-6 max-w-2xl ">
            <h1 class="text-4xl font-bold text-center font-poppins">
                Veja os animais perto de você
            </h1>

            <p class="text-lg max-w-xl text-justify font-poppins">
                Veja no mapa os animais que foram registrados por outros usuários na sua região. Se você encontrar um
                animal que precisa de ajuda, entre em contato com a pessoa que o registrou!
            </p>
        </div>
    </div>

    <div class="flex-grow flex items-center justify-start text-center p-20 space-y-6 border-b gap-20">
        <div class="flex flex-col items-start space-y-6 max-w-2xl ">
            <h1 class="text-4xl font-bold text-center font-poppins">
                Animais perdidos
            </h1>

            <p class="text-lg max-w-xl text-justify font-poppins">
                Animais perdidos aparecem com uma borda verde no mapa. Se você encontrar um animal perdido, mande uma
                solicitação para o tutor que o registrou para ajudar a reuni-los!
            </p>
        </div>

        <div class="w-full h-96 border rounded overflow-hidden bg-black/20">

        </div>
    </div>

    <div class="flex-grow flex items-center justify-start text-center p-20 space-y-6 border-b gap-20">
        <div class="w-full h-96 border rounded overflow-hidden bg-black/20">

        </div>

        <div class="flex flex-col items-center space-y-6 max-w-2xl">
            <h1 class="text-4xl font-bold text-start font-poppins">
                Entre em contato com os tutores que perderam seus pets
            </h1>

            <p class="text-lg text-justify font-poppins">
                Caso o tutor aceite a solicitação, utilize nossa plataforma para entrar em contato com o tutor que o
                registrou. Juntos, podemos ajudar a reunir animais perdidos com suas famílias!
            </p>
        </div>
    </div>
</div>

<div class="w-full h-20 border-t flex items-center px-4 justify-between bg-white p-20" style="z-index: 9999;">
    <app-mapets-icon />

    <div>
        <p class="text-xs opacity-60 ml-6">
            © 2025 Mapets. Todos os direitos reservados.
        </p>
    </div>
</div>