<div class="w-full h-20 border-b flex items-center justify-between sm:justify-normal px-4 fixed bg-white"
    style="z-index: 9999;">
    <app-mapets-icon />

    <div class="w-full hidden sm:flex justify-between items-center ml-6">
        <div class="flex items-center space-x-2">
            <div class="text-xs opacity-60 hover:underline cursor-pointer" (click)="goToMap()">
                Ver o mapa
            </div>

            <div class="text-xs opacity-60 hover:underline cursor-pointer">
                Sobre o Mapets
            </div>
        </div>

        <div class="flex items-center space-x-2">
            <button class="bg-[#159A9C] text-white px-4 py-2 rounded hover:bg-[#0F9597]" (click)="goToLogin()">
                Entrar
            </button>

            <button class="bg-[#159A9C] text-white px-4 py-2 rounded hover:bg-[#0F9597]" (click)="goToRegister()">
                Registrar
            </button>
        </div>
    </div>

    <hlm-sheet class="sm:hidden">
        <ng-container *ngIf="!isSheetOpen">
            <button brnSheetTrigger class="flex justify-center items-center" (click)="openSheet()">
                <spartan-icon iconName="lucideMenu" iconSize="lg"
                    class="flex justify-center items-center"></spartan-icon>
            </button>
        </ng-container>

        <ng-container *ngIf="isSheetOpen">
            <button brnSheetTrigger class="flex justify-center items-center" (click)="closeSheet()">
                <spartan-icon iconName="lucideX" iconSize="lg" class="flex justify-center items-center"></spartan-icon>
            </button>
        </ng-container>

        <hlm-sheet-content *brnSheetContent="let ctx" class="h-full flex flex-col">
            <hlm-sheet-header class="w-full flex justify-between">
                <div class="flex justify-between items-center space-x-2">
                    <app-mapets-icon />
                    <button brnSheetTrigger class="flex justify-end items-center" (click)="closeSheet()">
                        <spartan-icon iconName="lucideX" iconSize="lg"
                            class="flex justify-center items-center"></spartan-icon>
                    </button>
                </div>
            </hlm-sheet-header>
            <div class="flex flex-col items-start space-y-2">
                <div class="text-md opacity-60 hover:underline cursor-pointer" (click)="goToMap()">Ver o mapa</div>
                <div class="text-md opacity-60 hover:underline cursor-pointer">Sobre o Mapets</div>
            </div>

            <div class="mt-auto flex items-center justify-center gap-2 pb-4">
                <button class="bg-[#159A9C] text-white px-4 py-2 rounded hover:bg-[#0F9597]"
                    (click)="goToLogin()">Entrar</button>
                <button class="bg-[#159A9C] text-white px-4 py-2 rounded hover:bg-[#0F9597]"
                    (click)="goToRegister()">Registrar</button>
            </div>
        </hlm-sheet-content>
    </hlm-sheet>
</div>

<div class="flex flex-col h-full sm:p-20 p-5 pt-20">

    <div
        class="flex-grow flex sm:flex-row flex-col items-center justify-start sm:p-20 p-5 text-center sm:space-y-6 border-b">

        <div class="flex flex-col items-start space-y-6 max-w-2xl">
            <h1 class="text-4xl font-bold text-start font-poppins">
                <span class="text-[#159A9C]">Encontre</span> e <span class="text-[#159A9C]">ajude</span> animais
                perto de você
            </h1>

            <p class="text-lg max-w-xl text-justify font-poppins">
                O Mapets é uma plataforma colaborativa que conecta pessoas dispostas a ajudar animais de rua com aqueles
                que precisam de cuidados. Junte-se a nós para fazer a diferença!
            </p>

            <div class="flex items-center justify-center gap-2">
                <button class="bg-[#159A9C] text-white px-6 py-3 rounded hover:bg-[#0F9597]">
                    Comece agora
                </button>
                <div class="flex flex-col items-center">
                    <div class="absolute rounded-full bg-[#159A9C] text-white ml-20 translate-x-8 text-xs p-1">Em breve</div>
                    <img src="../../assets/images/google-play-badge.png" alt="by Freepik" class="h-16" />
                </div>
            </div>
        </div>

        <div flex class="flex-grow flex justify-center items-end h-full sm:pt-0 pt-5">
            <img src="../../assets/images/dogs.svg" alt="by Freepik" class="" />
        </div>
    </div>

    <div
        class="flex-grow flex sm:flex-row flex-col items-center justify-start sm:p-20 p-5 text-center sm:space-y-6 border-b sm:gap-20">

        <div class="sm:w-1/2 w-full h-80 sm:h-96 border rounded overflow-hidden sm:mb-0 mb-5">
            <app-map-view />
        </div>

        <div class="flex flex-col items-start space-y-6 max-w-2xl ">
            <h1 class="text-4xl font-bold sm:text-center text-start font-poppins">
                Veja os animais perto de você
            </h1>

            <p class="text-lg max-w-xl text-justify font-poppins">
                Veja no mapa os animais que foram registrados por outros usuários na sua região. Se você encontrar um
                animal que precisa de ajuda, entre em contato com a pessoa que o registrou!
            </p>
        </div>
    </div>

    <div
        class="flex-grow flex sm:flex-row flex-col items-center justify-start text-center sm:p-20 p-5 sm:space-y-6 border-b sm:gap-20">
        <div class="flex flex-col items-start space-y-6 max-w-2xl">
            <h1 class="text-4xl font-bold text-center font-poppins">
                Animais perdidos
            </h1>

            <p class="text-lg max-w-xl text-justify font-poppins">
                Animais perdidos aparecem com uma borda verde no mapa. Se você encontrar um animal perdido, mande uma
                solicitação para o tutor que o registrou para ajudar a reuni-los!
            </p>
        </div>

        <div class="w-full sm:h-96 h-60 border rounded overflow-hidden bg-black/20 mt-5">

        </div>
    </div>

    <div
        class="flex-grow flex sm:flex-row flex-col items-center justify-start text-center sm:p-20 p-5 sm:space-y-6 sm:gap-20">
        <div class="w-full sm:block hidden h-96 border rounded overflow-hidden bg-black/20">

        </div>

        <div class="flex flex-col items-center space-y-6 max-w-2xl">
            <h1 class="text-4xl font-bold text-start font-poppins">
                Entre em contato com os tutores que perderam seus pets
            </h1>

            <p class="text-lg text-justify font-poppins">
                Caso o tutor aceite a solicitação, utilize nossa plataforma para entrar em contato com o tutor que o
                registrou. Juntos, podemos ajudar a reunir animais perdidos com suas famílias!
            </p>
        </div>

        <div class="w-full sm:hidden block h-60 border rounded overflow-hidden sm:mt-0 mt-5 bg-black/20">

        </div>
    </div>
</div>

<div class="w-full h-20 border-t flex items-center px-4 justify-between bg-white sm:p-20 p-5" style="z-index: 9999;">
    <app-mapets-icon />

    <div>
        <p class="text-xs opacity-60 ml-6">
            © 2025 Mapets. Todos os direitos reservados.
        </p>
    </div>
</div>