<brn-sheet #sheet="brnSheet">
  <ng-container *ngIf="petDetail">
    <hlm-sheet [side]="isMobile ? 'bottom' : 'right'">
      <button hlmBtn brnSheetTrigger asChild style="display: none;" #hiddenTrigger></button>

      <!-- Conteúdo do sheet -->
      <hlm-sheet-content *brnSheetContent="let ctx" class="p-0">
        <hlm-sheet-header class="w-full">
          <img *ngIf="petDetail.petImage" [src]="petDetail.petImage" class="w-full h-full mx-auto object-cover" />
        </hlm-sheet-header>

        <div class="p-4 space-y-2 flex flex-col items-start">
          <div class="flex justify-start items-center">
            <h2 hlmSheetTitle class="text-2xl">{{ petDetail.apelido }}</h2>
          </div>
          <div class="flex justify-start items-center">
            <spartan-icon iconName="lucideMapPin" iconSize="sm"></spartan-icon>
            <p hlmSheetDescription class="ml-2 truncate max-w-[300px]" [title]="petDetail.localizacao">{{
              petDetail.localizacao }}</p>
          </div>
          <div class="flex justify-start items-start">
            <spartan-icon iconName="lucideScrollText" iconSize="sm"></spartan-icon>
            <p hlmSheetDescription class="ml-2 break-words text-left">
              {{ petDetail.descricao }}
            </p>
          </div>
          <div class="flex justify-start items-center">
            <spartan-icon iconName="lucideMap" iconSize="sm"></spartan-icon>
            <p hlmSheetDescription class="ml-2">{{ petDetail.lat }}, {{ petDetail.lng }}</p>
          </div>
          <div class="flex justify-start items-center">
            <spartan-icon iconName="lucideCheck" iconSize="sm" *ngIf="petDetail.coleira"></spartan-icon>
            <spartan-icon iconName="lucideX" iconSize="sm" *ngIf="!petDetail.coleira"></spartan-icon>
            <p hlmSheetDescription class="ml-2">{{ petDetail.coleira ?
              'Possui coleira' :
              'Não possui coleira' }}
            </p>
          </div>

          <div class="flex justify-start items-center">
            <img [src]="petDetail.user?.photoURL" alt="Foto de perfil" class="w-6 h-6 rounded-full border" />
            <p hlmSheetDescription class="ml-2">Enviado por {{ petDetail.user?.displayName || 'Usuário desconhecido' }}
            </p>
          </div>

          <!-- Comentários -->
          <div class="w-full flex flex-col items-end">
            <textarea hlmInput placeholder="Deixe seu comentário..."
              class="min-h-[80px] w-full border mt-4 p-2 rounded-sm" [(ngModel)]="newCommentText"></textarea>

            <button hlmBtn class="mt-2 bg-[#159A9C]" (click)="submitComment()">Enviar</button>
          </div>

          <div class="w-full flex flex-col items-start">
            <h1 class="font-bold mb-2">Discussão</h1>

            <div *ngFor="let comment of comments" class="flex border rounded-sm p-2 w-full gap-2 mb-2">
              <div class="w-10 h-10 rounded-full bg-slate-300 overflow-hidden">
                <img *ngIf="comment.user?.photoURL" [src]="comment.user.photoURL" />
              </div>

              <div class="flex flex-col justify-start items-start">
                <p class="text-sm font-bold">{{ comment.user?.displayName || 'Usuário desconhecido' }}</p>
                <p class="text-sm text-gray-500">{{ comment.text }}</p>

                <button hlmBtn class="flex justify-center items-center border p-2 rounded-sm" variant="outline">
                  <spartan-icon iconName="lucideHeart" iconSize="sm"
                    class="flex items-center justify-center mr-1"></spartan-icon>
                  <span class="text-gray-500 text-sm">1</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <hlm-sheet-footer>

        </hlm-sheet-footer>
      </hlm-sheet-content>
    </hlm-sheet>
  </ng-container>
</brn-sheet>


<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>