.map-container {
  position: abos;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh; /* altura padrão */
}

/* Reduz altura no mobile para deixar espaço para o footer */
@media (max-width: 767px) {

  .map-container, #map {
    bottom: 64px; /* deixa espaço no final */
    height: auto;
  }
    .leaflet-bottom.leaflet-left,
  .leaflet-bottom.leaflet-right {
    bottom: 80px !important; /* ou algo maior que a altura do footer */
  }
}

.map-frame,
#map,
.leaflet-container {
  height: 100%;
  width: 100%;
}

::ng-deep .leaflet-control-attribution .leaflet-control-attribution-logo {
  display: none !important;
}
